/*
	Author by Brent Macatangay
	Edited by Jekzel Leonidas
*/

html{
	scroll-behavior: smooth;
}

/*Table Selected*/
table tbody tr.selected{
	border: 2px solid #19aa8d;
	background-color: #0E76C7!important;
	color: #F7F8F8;
}

table tbody tr.selected:hover{
	border: 2px solid #19aa8d;
	background-color: #0E76C7!important;
	color: #F7F8F8;
}

table thead tr th{
	vertical-align: middle!important;
}

table tbody tr td{
	vertical-align: middle!important;
	background: white!important;
}

/* CORRECTION FOR DATATABLE TR HEGHT by JML */
table thead tr{
	height:30px;
}

/*table.dataTables-example thead tr th{
	font-size: 11px!important;
}

table.dataTables-example tbody tr td{
	font-size: 10px!important;
}*/

section#add-bom #barcode-reader.scanning{
	display: inline-table;
	-webkit-animation: slide-down 1s; /* Safari */
    animation: slide-down 1s;
}
section#add-bom #barcode-reader{
	display: none;
	-webkit-animation: slide-up 1s; /* Safari */
    animation: slide-up 1s;
}

div.ibox-tools{
	margin-top: -8.8px!important;
}


@-webkit-keyframes slide-up{
	0% {
		opacity: 1;
	}
	1% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		display: none;
		opacity: 0;
		transform: translateY(-100%);
	}
}
@keyframes slide-up{
	0% {
		opacity: 1;
	}
	1% {
		opacity: 1;
		transform: translateY(0%);
	}
	100% {
		display: none;
		opacity: 0;
		transform: translateY(-100%);
	}
}

@-webkit-keyframes slide-down{
	0% {
		opacity: 0;
	}
	1% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes slide-down{
	0% {
		opacity: 0;
	}
	1% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}


/*section#add-bom #barcode-reader.scanning{
   	display: block;
   	height: 40px;
}*/

.select2-close-mask{
    z-index: 2099 !important;
}
.select2-dropdown{
    z-index: 3051  !important;
}

.nowrap{
	white-space: nowrap;
}

/* On Hover Nav bar */

/*
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #16BFA0!important;
    color: #FEFEFE!important;
}

.md-skin .nav-second-level li a:hover{
	background-color: #009587!important;
    color: #FEFEFE!important;
}

.md-skin .nav > li.active.nav-first-level > a{
	background-color: #16BFA0!important;
    color: #FEFEFE!important;
}

.md-skin .nav-second-level li.active a{
	background-color: #009587!important;
    color: #FEFEFE!important;
}

*/

.datepicker{
    padding-left: 10px!important;
}

.js-select2{
	width: 100%!important;
	height: 100%!important;
}

.btnTop{
	position       : fixed;
	width          : 40px;
	height         : 40px;
	bottom         : 40px;
	right          : 25px;
	
	text-decoration: none;
	text-align     : center;
	line-height    : 20px;
	font-size      : 18px
}

.btnTop i{
	margin-left: -2px;
	margin-bottom: -5px;
}

.validate-style{
	color:red;
	font-size:12px
}

.dn{
	display: none!important;
}

.dataTables-example{
	width:100%!important
}
td{
	vertical-align: middle!important;
}
.form-group *{
	vertical-align: middle!important;	
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #16BFA0!important;
	color: white!important;
	border: 1.1px solid lightgray!important;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
	width: 490px!important;
	min-width: 0;
}

.navbar-top-links .dropdown-menu li a:hover{
	background-color: #16BFA0!important;
	color: white!important;
}

.toggle-barcode{
	padding-top: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}



/*@media screen and (max-width: 768px){
	.mini-navbar{
		display: none;
	}
}*/

@media only screen and (max-width: 768px) {
  .close-canvas-menu{
	display: block!important;
  }

  nav.navbar > ul.navbar-top-links{
  	float: right!important;
  }

  .dropdown-menu{
  	left : -370%!important;
  	width: 270px!important;
  }  
}

@media only screen and (max-width: 375px) {

  .dropdown-menu{
  	/*left : -370%!important;*/
  }

  .dropdown-menu > li > a{
  	font-size: 10px!important;
  }
}


/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F5F5F6;
  /*color: #FFFFFF;*/
/*}

/*thead , thead > tr > th {
	background-color: #16BFA0!important;
	color: #FFFFFF!important;
*/}


.datepicker thead tr:first-child > th.datepicker-switch {
	background: #1AB394;
	color: white;
}

.datepicker thead tr:first-child > th.datepicker-switch:hover {
	background: #1AB394;
	color: white;
}

.form-control, label{
    font-size: 11px!important;
}
.select2-results__options, .select2-selection__rendered{
	font-size:11px !important;
}
.mother-mod:hover{
    user-select: none;
    border-radius: 5px;
    background: #2980b9;
    cursor: pointer;
    border-color: white;
    color: black
}
.mod-list li a{
	padding: 10px!important;
	color:black!important;
}
.mod-list li a:hover{
	color: white!important;
}
.active-parent-mod{
    user-select: none;
    border-radius: 5px;
    background: #2980b9;
    cursor: pointer;
    border-color: white;
}
.filter-tag{
	padding: 6px 0px 0px 45px;
}
.input-tag{
	padding: 5px 35px 5px 5px
}
@media screen and (max-width: 768px){
	.mod-list li{
		display: block!important;
	}
	.filter-tag{
		padding: 6px 0 0 10px;
	}
	.input-tag{
		padding: 5px 5px 5px 5px
	}
}
.mod-list li.active-parent-mod a{
	color: white!important
}
div.sa-button-container .cancel{
	background: #DD6B55!important
}
div.sa-button-container .cancel:hover{
	opacity: 0.8!important;
}
div.sweet-alert p{
	color: black;
}
div.sweet-alert h2{
	color: black;
}
.dataTables-example tbody tr td{
	padding: 3px 10px 0px 10px!important;
	color: black!important;
}
label, input, select, textarea, .select2-selection__rendered{
	color: black!important;
}
.modal-header{
	background-color: #2F4050!important; 
	color:white!important; 
	padding: 15px 0 15px 0!important;
}

.modal-header .close {
	color: white!important;
}

.nav-first-level a:hover, .nav-second-level a:hover, .nav-third-level a:hover, .active-module{
	background: #18A689!important;
}
.dataTables-example thead tr th{
	padding-top:3px!important;
	padding-bottom:0px!important;
	background: #2F4050!important;
	color: white!important;
	font-weight: normal
}
.dataTables-example thead tr th a, .dataTables-example thead tr th button{
	color: white!important;
	border-color: white!important;
}
.dataTables_scrollBody{
	top: -5px!important;
}
label{
	margin-top: 5px!important
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #18A689;
    /*background-color: #18A689;*/
    border-color: #18A689 #18A689 #fff;
}

label.error {
	color: red!important;
}

textarea.error {
	background: #FBE3E4!important;
}

textarea{
	resize: none!important;
}
