span {
	font-size: 25px;
	font-weight: bold;
}
    
hr {
	border-bottom: 1px dashed #a4b0be;
}

.ibox-content {
	background: transparent;
	box-shadow: -3px 5px 5px 2px rgba(99, 110, 114,0.3) ;
} 

.ibox-title {
	background: transparent;
	background: rgba(255, 255, 255,0.9);
	border: 1px ;
	padding: 10px;
  	border-radius: 70px 0px 60px;
	box-shadow: -3px 5px 5px 2px rgba(99, 110, 114,0.3);
}

.form-control {
	background:  rgba(255, 255, 255,0.1);
}


@media screen and (max-width: 320px){
	.left-form{
		margin-top:-30px!important;
	}

	.ibox-title{
		margin-top:50px!important;
		background: rgba(255, 255, 255,0.9);
	}

}

@media screen and (max-width: 375px){
	.left-form{
		margin-top:-30px!important;
	}

	.ibox-title{
		margin-top:50px!important;
		background: rgba(255, 255, 255,0.9);
	}

}

@media screen and (max-width: 768px){
	.left-form{
		margin-top:-10px!important;
	}

	.ibox-title{
		margin-top:50px!important;
		background: rgba(255, 255, 255,0.9);
	}

}

